<a class="navbar-brand" href="/">Task Manager</a>
<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      
      <a class="nav-item nav-link" 
         routerLink="/addtask" 
         routerLinkActive="active"  
         href="/addtask">Add task</a>
         <a class="nav-item nav-link active" 
         routerLink="/viewtask" 
         routerLinkActive="active" 
         href="/viewtask">View Task</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
     
    </div>
  </div>
</nav>